@tailwind base;
@tailwind components;
@tailwind utilities;

.containerWidth {
  @apply w-11/12 max-w-[1600px] mx-auto;
}

.bg-ecommerce {
  width: 100%;
  height: auto;
  background: linear-gradient(
    180deg,
    #080609 4.98%,
    #bcbabd 44.24%,
    rgba(223, 223, 223, 0) 62.31%
  );
}

.bg-sidebar {
  background: linear-gradient(
    91.02deg,
    #385170 3.38%,
    #3583cc 98.3%,
    #6b9cd7 98.3%
  );
}

/* Auth Menu desing */
.menu > a {
  border-radius: 9999px 0 0 9999px;
  padding: 14px 24px;
  font-weight: bold;
  text-align: center;
  transition: color 0.5s;
  color: white;
}

.menu > a:target {
  background-color: white;
  color: black;
}

.menu > .a-button::after,
.menu > .a-button::before {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 20px;
  height: 50px;
  border-radius: 0 0 25px 0;
}

.menu > .a-button::before {
  top: auto;
  bottom: 18px;
  border-radius: 0 25px 0 0;
}

.menu > .b-button::after,
.menu > .b-button::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 0;
  width: 20px;
  height: 50px;
  border-radius: 0 0 25px 0;
}

.menu > .b-button::before {
  top: auto;
  bottom: -50px;
  border-radius: 0 25px 0 0;
}

.menu > a:target::after {
  box-shadow: 0 25px 0 0 white;
}

.menu > a:target::before {
  box-shadow: 0 -25px 0 0 white;
}

.bgnewProduct {
  background: linear-gradient(
    180deg,
    #f1f1f1 0%,
    rgba(236, 236, 236, 0.42) 100%,
    #ffffff 100%
  );
}

.nav-bg {
  background: linear-gradient(
    90deg,
    #38485f -4.06%,
    #348ad9 30.95%,
    #d69fd8 60.79%,
    #df70d5 84.96%,
    #c839c0 105.78%
  );
}
